*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,body{
	height: 100%;
}

.container{
	max-width: 1280px;
	margin:0 auto;
}

.clear{
	clear: both;
}

header{
	width: 100%;
	height: 90vh;
	min-height: 800px;
	padding:40px 2%;
	/*max-height: 700px;*/
	background-size: cover;
	background-position: center;
	background-image: url('../imagens/capa.png');
	font-weight: 300;
}

header nav{
	float: right;
}

nav.mobile-menu{
	cursor: pointer;
	display: none;
	width: 32px;
	height: 32px;
	background-image: url('../imagens/menu.png');
	background-size: 100% 100%;
}

nav.mobile-menu:hover ul{
	
}

nav.mobile-menu ul{
	display: none;
	background-color: white;
	position: absolute;
	width: 100%;
	left: 0;
	top: 80px;
	list-style-type: none;
	text-align: center;
}

nav.mobile-menu ul li{
	padding:8px 0;
	transition: 0.4s;
	border-bottom: 1px solid black;
}

nav.mobile-menu ul li:hover{
	background-color: rgb(255, 255, 255);
}

nav.mobile-menu ul li a{
	color: black;
	text-decoration: none;
}

header .logo{
	float: left;
	width: 160px;
	height: 40px;
	background-color: rgb(32, 26, 26);
}

header nav.desktop-menu ul{
	list-style-type: none;
}

header nav.desktop-menu li{
	float: left;
	padding:0 20px;

	font-weight: bold;
	font-size: 1.4em;
	
}

header nav.desktop-menu li a{
	text-decoration: none;
}

.chamada1{
	max-width: 600px;
	float: right;
	margin:270px 150px;
}

.chamada1 h2{
	font-weight: 4000;
	font-size: 35px;
	text-align: center;
	color: white; text-shadow: black 0.1em 0.1em 0.2em;
}

.chamada1 p{
	font-size: 15px;
	color: white; text-shadow: black 0.1em 0.1em 0.2em;
	margin-top:10px;
}

section.sessao1{
	width: 100%;
	background-color: #472562;
	padding:0 2%;
	height: 400px;
}

section.sessao1 .container{
	max-width: 1000px;
	height: calc(100% + 30px);
}

.texto-sessao1 {
	float: left;
	width: 50%;
	position: relative;
	left: 55px;
	margin-top:60px;
	padding-left: 80px;
	color: white;
}


.texto-sessao1 h2{
	font-size: 26px;
	font-weight: 300;
}

.texto-sessao1 p{
	margin-top:20px;
	font-size: 15px;
}

.texto-sessao1 ul{
	font-size: 15px;
	list-style-position: outside;
	padding-left: 15px;
}

.texto-sessao1 ul li{
	width: 100%;
	margin-top:8px;
}

.texto-sessao1 ul li a{
	text-decoration: none;
	color: white;
	}

.btn1-texto{
	background-color: #FF703D;
	width: 165px;
	height: 44px;
	font-size: 13px;
	color: white;
	cursor: pointer;
	margin-top:30px;
	text-align: center;
	line-height: 44px;
	border-radius: 30px;
}

.device-sessao1{
	float: left;
	width: 50%;
	position: relative;
	top:30px;
	left: 50px;
	height: 80%;
	background-image: url('../imagens/device.png');
	background-repeat: no-repeat;
	background-size: 75%;
}

.sessao2{
	padding-left: 2%;
	padding-right: 2%;
	background-color: white;
	text-align: center;
	margin-top: 30px;
}

.sessao2 .container{
	max-width: 1000px;
}

.sessao2 h2{
	color: #472663;
	font-weight: 300;
}

.sessao2 p{
	margin-top:30px;
	max-width: 900px;
	display:inline-block;
	font-size: 1em;
}

.sessao2 img{
	width: 100%;
	margin-top:40px;
}

section.Galeria{
	display: flex;
	margin-top: 40px;

}

section.Galeria div{
padding: 20x;
margin: 0px 40px;

}

.Galeria h2{
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
line-height: 20px;
color: black;
font-weight: bold;
}

.Galeria p{
font-size: 14px;
line-height: 20px;
color: black;
font-family: 'Open Sans', sans-serif;	
}

.Galeria img{
max-width: 320px;

	
}

section.Galeria-2{
	display: flex;
	margin-top: 40px;

}

section.Galeria-2 div{
padding: 20x;
margin: 0px 40px;

}

.Galeria-2 h2{
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
line-height: 20px;
color: black;
font-weight: bold;
}

.Galeria-2 p{
font-size: 14px;
line-height: 20px;
color: black;
font-family: 'Open Sans', sans-serif;	
}

.Galeria-2 img{
max-width: 320px;

	
}


section.Final{
display: flex;
margin-top: 30px;

}

h1.Final{
text-align: center;
font-size: 2.5em;
color: black;
margin-top: 40px;
padding-top: 20px;


}

.Final img{
width: 500px;
height: 600px;

}


.tex{
margin-top: 120px;
background-color: #7a708077;
padding: 30px 20px;
border-radius: 20px;

}

.tex h2{
text-align: center;
color: black;
font-size: 2.0em;



}

.tex p{
font-size: 1.8em;


}



footer{
    background-color: rgb(255, 255, 255);
	margin: 0px 7px 0px 7px;
	  padding: 30px 30px;
	  width: auto;
	  margin: auto;
	  text-align: center;
	  font-family: var(--fonte-padrao);
	  font-weight: bold;
  }
  footer:hover{
  color: #472663;
  
  }



@media screen and (max-width: 830px){

	.chamada1{
		max-width: none;
		width: 100%;
		text-align: center;
		float: none;
		margin:170px 0;
	}

	.chamada1 h2{
		font-weight: 4000;
		font-size: 30px;
		padding:0 0px;
		color: white; text-shadow: black 0.1em 0.1em 0.2em;
	}

	.chamada1 p{
		font-size: 15px;
		color: white; text-shadow: black 0.1em 0.1em 0.2em;
		margin-top:10px;
	 
}
}
@media screen and (max-width: 768px){

header{
	width: 100%;
	height: auto;
	min-height: 90vh;
	padding:40px 2%;
	background-size: cover;
	background-position: center;
	background-image: url('../imagens/capa-mobile.png');
}

nav.desktop-menu{
display: none;
background-color: #7a7080;
}

nav.mobile-menu{
 display: block;
 background-color: #3a3535;
 font-weight: bold;
}


section.sessao1{
	padding:20px 2%;
	height: auto;
	text-align: center;
}

.sessao1 .container{
	height: auto;
}


.texto-sessao1{
	width: 100%;
	padding-left: 0;
	position: static; 
	float: none;
	display: inline-block;
}

.texto-sessao1 ul{
	display: inline-block;
	margin-top:10px;
}

.texto-sessao1 ul li{
	float: none;
	text-align: left;
}

.btn1-texto{
	display: inline-block;
}

.device-sessao1{
	display: none;
}

.sessao2{
	padding-top: 40px;
}

.logo img{
	width: 170px;
	height: 50px;
}

.Galeria{
	flex-wrap:wrap;
}

.Galeria div{
padding: 20px 20px;
}

.Galeria-2{
	flex-wrap:wrap;
}

.Galeria-2 div{
padding: 20px 20px;
}

.Final{
	flex-wrap: wrap;

}

.carregado img{
width: 500px;
height: 600px;

}


}

@media screen and (max-width: 608px){ 
	.Final img{
		width: 400px;
		height: 500px;
       position: relative;
		left: 35px;
		}


 }

@media screen and (max-width: 420px){ 
	.Final img{
		width: 300px;
		height: 400px;
		
		
		}


 }